// source/assets/css/utils/_animations.styl

// Loading animation
.loader
  animation spin 1s ease-in-out infinite
  color $water
  font-size: 3.5em

@keyframes spin {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
