// source/assets/css/utils/_variables.styl

// ******************************
// BASE COLORS
// ******************************
$white = #fff;
$clouds = #ecf0f1;
$silver = #bdc3c7;
$concrete = #95a5a6;
$asbestos = #7f8c8d;
$emerald = #2ecc71;
$jade = #00B16A;
$torquise = #1abc9c;
$green-sea = #16a085;
$pewter-river = #3498db;
$water = #2980b9;
$wet-asphalt = #34495e;
$midnight-blue = #2c3e50;
$plum = #913D88;
$medium-purple = #BF55EC;
$sunflower = #f1c40f;
$orange = #f39c12;
$california = #f89406;
$pumpkin = #d35400;
$new-york-pink = #E08283;
$flamingo = #EF4836;
$pomegrante = #c0392b;
$old-brick = #96281B;
$shadow = #222;
$charoal = #333;
$boulder = #555;
$black = #000;
