div(class="row")
  div(class="col-sm-8 col-sm-offset-2")
    h1.text-center.jumbotron Star Wars Fighter Squadron
    div(class="col-sm-6 col-sm-offset-3")
      a(class="btn btn-success btn-block", href="/login") Login
      a(class="btn btn-default btn-block", href="/signup") Sign Up
