//- source/templates/_login.pug

//- Centered container
div(class="row col-sm-6 col-sm-offset-3 well")
  h1.text-center Login
  //- form
  form(ng-submit='login.login()', role='form')
    div.form-group
      //- username input
      label.
        Username
      input(type='text', class='form-control', placeholder='Username', ng-model='login.loginData.username')
      //- password input
    div.form-group
      lable.
        Password
      input(type='password', class='form-control', placeholder='Password', ng-model='login.loginData.password')
      //- submit button
    div.form-group
      button(type='submit', class='btn btn-success').
        Log In
    //- Loading spinner    
    div(class="form-group text-center" ng-if="login.isLoading")
      i.fa.fa-spinner.loader
