//- source/templates/_login.pug

//- Centered container
div(class="row col-sm-6 col-sm-offset-3")
  h1.text-center Login
  //- form
  form(ng-submit='login.login()', role='form')
    div.form-group
      //- username input
      label.
        Username
      input(type='text', class='form-control', placeholder='Username', ng-model='login.loginData.username')
      //- password input
    div.form-group
      lable.
        Password
      input(type='password', class='form-control', placeholder='Password', ng-model='login.loginData.password')
      //- login error
    div.form-group
      div(uib-alert, ng-repeat='alert in alerts' ng-class="'alert alert-' + (alert.type || 'warning')" close='alert.close()').
        {{alert.message}}
      //- submit button
    div.form-group
      button(type='submit', class='btn btn-success').
        Log In
