//- source/templates/_signup.pug

//- centered contained form
div(class="row col-sm-6 col-sm-offset-3")
  h1.text-center Sign Up
  form(ng-submit="signup.signUp(signupForm)", name="signupForm",role="form", novalidate)
    //- name input
    div(class="form-group", ng-class="{ 'has-error': signupForm.name.$dirty && signupForm.name.$invalid }")
      label.
        Name
      span(class='text-danger')
      input(type="text" class="form-control", name="name", placeholder="Name", ng-model="signup.signUpData.name", required)
      div(class='help-block', ng-messages="signupForm.name.$error", ng-show="signupForm.name.$dirty")
        div(ng-messages-include="pages/components/_form-messages.html")
    //- username input
    div(class="form-group", ng-class="{ 'has-error': signupForm.username.$dirty && signupForm.username.$invalid }")
      label.
        Username
      input(type="text" class="form-control", name="username", placeholder="Username", ng-model="signup.signUpData.username", ng-minlength="5", ng-maxlength="16", required)
      div(class="help-block", ng-messages="signupForm.username.$error", ng-show="signupForm.username.$dirty")
        div(ng-messages-include="pages/components/_form-messages.html")
    //- email input
    div(class="form-group", ng-class="{ 'has-error': signupForm.email.$dirty && signupForm.email.$invalid }")
      label.
        Email
      input(type="email", class="form-control", name="email", placeholder="Email", ng-model="signup.signUpData.email", required)
      div(class="help-block", ng-messages="signupForm.email.$error", ng-show="signupForm.email.$dirty")
        div(ng-messages-include="pages/components/_form-messages.html")
    //- password input
    div(class="form-group", ng-class="{ 'has-error': signupForm.password.$dirty && signupForm.password.$invalid }")
      label.
        Password
      input(type="password", class="form-control", name="password", placeholder="Password", ng-model="signup.signUpData.password", ng-minlength="6", ng-maxlength="12",required)
      div(class="help-block", ng-messages="signupForm.password.$error", ng-show="signupForm.password.$dirty")
        div(ng-messages-include="pages/components/_form-messages.html")
      //- success or error alert
    div.form-group
      div(uib-alert, ng-repeat='alert in alerts' ng-class="'alert alert-' + (alert.type || 'warning')" close='alert.close()').
        {{alert.message}}
    //- submit button
    div.form-group
      button(type="submit", class="btn btn-info", ng-disabled="signupForm.$invalid", name="submit").
        Create Account
