p(ng-message="required", class="text-danger").
  This field is required pilot!
p(ng-message="minlength", class="text-warning").
  Too short!
p(ng-message="maxlength", class="text-warning").
  Sorry... Field is too long.
p(ng-message="email", class="text-danger").
  Unacceptable! Not a valid email format!
