// source/assets/css/pages/_home.styl

.container
  h1#home-title
    font-family: 'sf_distant_galaxyregular';
    background: $charoal
    color: $sunflower
  #game-info
    color: $white
    margin-top: 50px
    span
      padding-left: 15px
